<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<div class="event-booking">
  <h1>Book An Event</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Client Name*">
  </div>

  <div class="textbox">
    <i class="fas fa-phone"></i>
    <input type="text" placeholder="Phone*">
  </div>

  <div class="textbox">
    <i class="fas fa-users"></i>
    <input type="text" placeholder="Number of people*">
  </div>

  <div class="textbox">
    <i class="fas fa-calendar"></i>
    <input type="text" placeholder="Date of event*">
  </div>

  <div class="textbox">
    <i class="fas fa-birthday-cake"></i>
    <input type="text" placeholder="Theme*">
  </div>

  <div class="textbox">
    <i class="fas fa-envelope"></i>
    <input type="text" placeholder="E-mail">
  </div>

 
  <input type="button" class="btn" value="Submit">
</div>
  </body>
</html>
